.to-do-item{
  font-size: 1.5rem;
  max-width: 50ch;
  overflow: hidden;
  cursor: pointer;

  user-select: none;
}

.to-do-item-done{
  color: grey;
  text-decoration-line: line-through;
}

.red{
  color: red;
}